<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Index Trab LabBd</title>
</head>

<body>
    <%- include('../includes/header.ejs') %>

    <main class="container mt-5">
        <section>
            <form action="/import/structure" method="POST" class="mb-3">
                <h1>Criar a estrutura do banco</h1>
                <div>
                    <label for="btn-import-data" class="w-100">Importe os dados SQL, para construção do banco (essa
                        funçao exluirá o banco e o montara do zero novamente)</label>
                    <button id="btn-import-data" class="btn btn-primary" type="submit">Montar Banco</button>
                </div>
            </form>
            <% if(resultStatus == 'StrutureDatabaseError'){ %>
            <div class="alert alert-danger">
                <p>Ocorreu um erro inesperado, <%= errorMessage %> </p>
            </div>
            <%} if(resultStatus == 'StructureDatebaseSucess'){ %>
            <div class="alert alert-primary">
                <p>Banco de dados criado com sucesso</p>
            </div>
            <% } %>

            <form action="/import/all-data" method="POST" class="mb-3">
                <h1>Importe os dados</h1>
                <div>
                    <label for="btn-import-data" class="w-100">Importe os dados em json</label>
                    <button id="btn-import-data" class="btn btn-primary" type="submit">Importar</button>
                </div>
            </form>

            <% if(resultStatus == 'ImportDataError'){ %>
            <div class="alert alert-danger">
                <p>Ocorreu um erro inesperado, <%= errorMessage %> </p>
            </div>
            <%} if(resultStatus == 'ImportDataSucess'){ %>
            <div class="alert alert-primary">
                <p>Os dados foram importados com sucesso</p>
            </div>
            <% } %>

        </section>
    </main>



    <%- include('../includes/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>